{% block footer %}
    <div class="navbar navbar-inverse navbar-static-bottom" role="navigation">
        <div class="container footerpad">
            <div class="collapse navbar-collapse footer">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('regulations') }}">Regulamin</a></li>
                    <li><a href="{{ path('about_us') }}">O nas</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse.footer">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}