{% extends "::base.html.twig" %}

{% block body %}
    <div class="container" style="text-align: center">
        <center>
            <div class="formArea">
                <form method="POST">
                    {{ form_widget(form) }}
                    <br />
                    <button type="submit" class="btn btn-default bc_blue">
                        <span class="glyphicon c_black glyphicon-send"></span>
                    </button>
                </form>
            </div>
        </center>
    </div>
{% endblock  %}
