{% extends "::base.html.twig" %}

{% block body %}
    <div class="container" style="text-align: center">
        <center>
            <div class="formArea">
                <h4>PUK PUK KTO TAM?</h4>

                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <input type="text" id="username" name="_username" placeholder="Podaj nick" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="_password" placeholder="Podaj hasło"
                               class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-default bc_blue">
                        <span class="glyphicon c_black glyphicon-send"></span>
                    </button>
                </form>
                <br>

                <p><a href="password.html">Znowu zapomniałem hasła!</a></p>
            </div>
        </center>
    </div>
{% endblock %}