{% extends "::base.html.twig" %}

{% block body %}

    <a href="{{ path('photo_add') }}">DODAJ ZDJĘCIE</a>
    <a href="{{ path('logout') }}">WYLOGOWANIE</a>

    {{ render(controller('PhotoBundle:Photo:show')) }}

{% endblock %}