{% extends "::base.html.twig" %}

{% block body %}

    <div class="container bg-black">
        <div class="row">
            <article>
                <div class="demotivator">
                    <ol type="I">
                        <li><b>Postanowienia ogólne.</b></li>
                        <ol>
                            <li>Pojęcia zawarte w regulaminie:</li>
                            <ol type="a">
                                <li><b>Właściciel</b> – podmiot umożliwiający dostęp do serwisu <a
                                            href="http://wioslo.pl/">wioslo.pl/</a> - Wiosło Sp. z o.o., ul. Wioślarska
                                    12, 01-789 Warszawa, spółka wpisana do ewidencji działalności gospodarczej pod nr
                                    6666.
                                </li>
                                <li><b>Formularz rejestracyjny</b> - podstrona znajdująca się w Serwisie, służąca do
                                    rejestracji konta Użytkownika w Serwisie.
                                </li>
                                <li><b>Konto</b> – zbiór danych opisujący unikatowego użytkownika, który powstaje na
                                    skutek rejestracji Użytkownika w Serwisie.
                                </li>
                                <li><b>Regulamin</b> – niniejszy dokument, określający warunki korzystania z Serwisu
                                    oraz prawa i obowiązki Użytkowników oraz Właściciela.
                                </li>
                                <li><b>Serwis</b> – portal <a href="http://wioslo.pl/">wioslo.pl/</a>, dostępny pod
                                    adresem <a href="http://wioslo.pl/">wioslo.pl/</a>.
                                </li>
                                <li><b>Usługi</b> – usługi świadczone drogą elektroniczną przez Właściciela, za
                                    pośrednictwem Serwisu,
                                </li>
                                <li><b>Użytkownik</b> – oznacza pełnoletnią osobę fizyczną, posiadającą pełną zdolność
                                    do czynności prawnych, działającą we własnym imieniu (użytkownik indywidualny) lub w
                                    imieniu osoby prawnej (użytkownik instytucjonalny), która korzysta z Serwisu zgodnie
                                    z postanowieniami Regulaminu. Użytkownikiem może być również osoba małoletnia i/lub
                                    nieposiadająca pełnej zdolności do czynności prawnych, pod warunkiem uzyskania zgody
                                    przedstawiciela ustawowego.
                                </li>
                            </ol>
                            <li>Na podstawie art. 8 ust. 1 pkt. 1 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług
                                drogą elektroniczną (Dz. U. nr 144, poz. 1204 z późn. zm.) Właściciel ustala niniejszym
                                Regulamin.
                            </li>
                        </ol>
                        <li><b>Oferowane funkcjonalności w ramach Serwisu.</b></li>
                        <ol>
                            <li>Za pomocą Serwisu Użytkownik ma możliwość korzystania z następujących Usług:</li>
                            <ol type="a">
                                <li>umieszczania zdjęć lub zdjęć z podpisami,</li>
                                <li>umieszczania filmów lub filmów z podpisami,</li>
                                <li>głosować na umieszczone w Serwisie zdjęcia i/lub filmy,</li>
                                <li>pisać komentarze do zamieszczonych zdjęć i/lub filmów,</li>
                                <li>brać udział w organizowanych konkursach.</li>
                            </ol>
                            <li>Usługi dostępne w Serwisie mają charakter darmowy lub odpłatny.</li>
                            <li>Właściciel zobowiązuje się do wyraźnego odróżniania Usług odpłatnych od Usług darmowych
                                dostępnych za pośrednictwem Serwisu.
                            </li>
                            <li>Użytkownik nie może zostać obciążony opłatą za Usługę odpłatną, na której otrzymywanie
                                nie wyraził wyraźnej zgody.
                            </li>
                            <li>Właściciel zastrzega sobie możliwość wprowadzania opłat od dowolnych Usług w Serwisie.
                                Jednakże o wszelkich zmianach dotyczących zasad płatności za Usługi Użytkownik zostanie
                                powiadomiony w formie wiadomości elektronicznej przesłanej przez Właściciela na adres
                                e-mail wskazany przez Użytkownika w Formularzu Rejestracyjnym.
                            </li>
                            <li>Właściciel zastrzega sobie możliwość zmiany funkcjonalności Serwisu w dowolnym czasie, w
                                szczególności poprzez wprowadzanie nowych funkcji i udogodnień dla Użytkowników.
                            </li>
                        </ol>
                        <li><b>Warunki korzystania z Serwisu i zasady odpowiedzialności.</b></li>
                        <ol>
                            <li>Wymagania techniczne umożliwiające korzystanie z funkcjonalności Serwisu:</li>
                            <ol type="a">
                                <li>połączenie z Internetem,</li>
                                <li>przeglądarka internetowa umożliwiająca wyświetlanie na ekranie komputera dokumentów
                                    hipertekstowych (HTML), obsługująca język Java Script oraz umożliwiająca używanie
                                    plików Cookies,
                                </li>
                                <li>konto poczty e-mail.</li>
                            </ol>
                            <li>Użytkownik przed rozpoczęciem korzystania z Serwisu jest zobowiązany do uprzedniego
                                zapoznania się z postanowieniami zawartymi w Regulaminie. Rejestracja w Serwisie jest
                                równoznaczna z akceptacją Regulaminu.
                            </li>
                            <li>Użytkownik zobowiązuje się do przestrzegania postanowień Regulaminu w trakcie
                                korzystania z Serwisu.
                            </li>
                            <li>Użytkownik zobowiązuje się powstrzymać od wszelkich działań mogących utrudnić, bądź
                                destabilizować funkcjonowanie Serwisu lub korzystanie z jego funkcjonalności.
                            </li>
                            <li>Użytkownik ponosi pełną odpowiedzialność za niewłaściwe korzystanie ze swojego Konta, w
                                szczególności za wykorzystywanie go do zamieszczania w Serwisie treści sprzecznych z
                                przepisami prawa, zasadami współżycia społecznego oraz niniejszym Regulaminem.
                            </li>
                            <li>W przypadku korzystania z Formularza Rejestracyjnego, Użytkownik ma obowiązek podawania
                                aktualnych danych, zgodnych ze stanem faktycznym.
                            </li>
                            <li>W odniesieniu do utworów zamieszczonych w Serwisie Użytkownicy zobowiązani są do
                                przestrzegania przepisów ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach
                                pokrewnych (Dz. U. Nr 24, poz. 83 z późn. zm.), ustawy z dnia 16 kwietnia 1993 roku o
                                zwalczaniu nieuczciwej konkurencji (Dz.U.93.47.211 z późn. zm.) oraz ustawy z dnia 30
                                czerwca 2000 r. Prawo Własności Przemysłowej (Dz.U. z 2001 r. Nr 49, poz. 508 ze
                                zmianami).
                            </li>
                            <li>Użytkownik oświadcza, że posiada wszelkie prawa, w tym w szczególności prawa autorskie,
                                do wszystkich przesyłanych materiałów, w szczególności do zdjęć i tekstów oraz że utwory
                                te są wolne od wad prawnych i nie naruszają żadnych praw osób trzecich oraz innych
                                podmiotów (w razie ewentualnych roszczeń osób trzecich, wynikających z naruszenia tych
                                praw, Użytkownik ponosi całkowitą odpowiedzialność).
                            </li>
                            <li>Użytkownik będzie zobowiązany do ponoszenia opłat należnych twórcom i/lub wykonawcom
                                bądź organizacjom zbiorowego zarządzania prawami autorskimi lub prawami pokrewnymi lub
                                innym podobnym organizacjom z tytułu zamieszczania w serwisie utworów w sytuacji, kiedy
                                takie opłaty będą wymagane.
                            </li>
                            <li>Użytkownik udziela Właścicielowi na czas nieokreślony, niewyłącznej, nieodpłatnej
                                licencji na utrwalenie, kopiowanie i rozpowszechnianie materiałów zamieszczanych przez
                                Użytkownika w Serwisie w dowolny sposób, na wszystkich polach eksploatacji, także do
                                celów promocyjnych i reklamowych.
                            </li>
                            <li>Właściciel zobowiązuje się do zapewnienia możliwie najwyższej jakości i stabilności
                                Serwisu, jednakże nie ponosi odpowiedzialności za przerwy i zakłócenia spowodowane
                                działaniem siły wyższej bądź nieuprawnionym działaniem podmiotów trzecich.
                            </li>
                            <li>Właściciel nie ponosi odpowiedzialności za czasową niemożność korzystania z Serwisu,
                                spowodowaną wprowadzaniem nowych rozwiązań i udogodnień w ramach Serwisu. W miarę
                                możliwości Właściciel będzie powiadamiać Użytkowników o planowanych przerwach w
                                działaniu Serwisu bądź mogących wystąpić niedogodnościach w jego użytkowaniu.
                            </li>
                            <li>Właściciel zastrzega sobie prawo do prowadzenia prac konserwacyjnych urządzeń systemu
                                teleinformatycznego służącego do zapewnienia dostępu do Serwisu, mogących powodować
                                okresowe utrudnienia lub uniemożliwienie Użytkownikom korzystanie z wybranych
                                funkcjonalności bądź całego Serwisu. W miarę możliwości Właściciel zobowiązuje się do
                                wcześniejszej publikacji terminu i przewidywanego czasu trwania prac konserwacyjnych na
                                łamach Serwisu. W takim przypadku Właściciel nie ponosi jakiejkolwiek odpowiedzialności
                                wobec Użytkowników
                            </li>
                            <li>W szczególnych przypadkach mających wpływ na bezpieczeństwo lub stabilność Serwisu,
                                Właściciel zastrzega sobie możliwość czasowego ograniczenia lub zaprzestania świadczenia
                                usługi dostępu do Serwisu bez wcześniejszego powiadomienia Użytkowników oraz do
                                przeprowadzenia prac konserwacyjnych w celu przywrócenia bezpieczeństwa i stabilności
                                Serwisu. W takim przypadku Właściciel nie ponosi jakiejkolwiek odpowiedzialności wobec
                                Użytkowników.
                            </li>
                            <li>Właściciel nie ponosi odpowiedzialności za treści przekazywane i publikowane przez
                                Użytkowników. Treści umieszczane przez Użytkowników nie są poglądami i opiniami
                                Właściciela. Właściciel zastrzega sobie jednak prawo do: redagowania, skracania tekstów
                                bądź usunięcia treści zabronionych przez prawo, wulgarnych, obraźliwych lub w inny
                                sposób naruszających zasady współżycia społecznego. Użytkownik zamieszczający treści
                                zabronione może ponieść odpowiedzialność karną oraz cywilną względem Właściciela bądź
                                innych osób lub podmiotów trzecich.
                            </li>
                            <li>Właściciel nie ponosi odpowiedzialności za działania Użytkowników i podmiotów trzecich,
                                ani za wykorzystanie przez nich danych innych Użytkowników niezgodnie z celem działania
                                Serwisu, o którym mowa w niniejszym Regulaminie.
                            </li>
                            <li>Właściciel nie ponosi odpowiedzialności w przypadku skierowania do niego przez innych
                                Użytkowników, osoby trzecie lub podmioty trzecie roszczeń związanych z opublikowaniem
                                zdjęć lub osobistego wizerunku tych Użytkowników, osób trzecich lub podmiotów trzecich.
                                Odpowiedzialność w tym zakresie ponosi wyłącznie Użytkownik, który opublikował sporne
                                zdjęcie lub wizerunek.
                            </li>
                            <li>Właściciel zwraca uwagę, że Serwis zawiera treści chronione prawem własności
                                intelektualnej, w szczególności utwory chronione prawem autorskim. Użytkownik
                                zobowiązuje się do przestrzegania praw własności intelektualnych (w tym autorskich praw
                                majątkowych oraz praw własności przemysłowej takich jak prawa wynikające z rejestracji
                                znaków towarowych) przysługujących Właścicielowi oraz podmiotom trzecim. Użytkownik
                                ponosi wyłączną odpowiedzialność za nieprzestrzeganie postanowień niniejszego punktu.
                            </li>
                        </ol>
                        <li><b>Ochrona danych osobowych Użytkowników i polityka prywatności.</b></li>
                        <ol>
                            <li>Administratorem danych osobowych w rozumieniu ustawy z dnia 29 sierpnia 1997 r. o
                                ochronie danych osobowych (Dz. U. z 2002 r., nr 101, poz. 926 z późn. zm.) jest - Wiosło
                                Sp. z o.o., ul. Wioślarska 12, 01-789 Warszawa.
                            <li>Każdy Użytkownik ma prawo wglądu do treści swoich danych oraz możliwość ich poprawiania.
                                Uprawnienie to może być zrealizowane w ten sposób, że Użytkownik samodzielnie dokona
                                zmian w Formularzu Rejestracyjnym swojego Konta bądź poprzez wysłanie stosownej prośby
                                na następujący adres e-mail: <a href="mailto:admin@wioslo.pl">admin@wioslo.pl</a>.
                            </li>
                            <li>Podanie danych osobowych podczas rejestracji jest dobrowolne, choć niezbędne, by
                                Użytkownik mógł korzystać z funkcjonalności Serwisu wskazanych w pkt. 3, a także by
                                Właściciel mógł realizować pozostałe cele wskazane w pkt. 41.
                            </li>
                            <li>W ramach Serwisu Właściciel przetwarza następujące dane: nick (login) i adres e-mail, a
                                jeśli Użytkownik zgłosi reklamację lub skorzysta z Formularza Kontaktowego to również:
                                imię i nazwisko. Ponadto przetwarzany jest również adres IP Użytkownika.
                            </li>
                            <li>Za zgodą wyrażoną przez Użytkownika, jego dane osobowe mogą być przetwarzane również
                                przez inne podmioty niż Właściciel, w celach objętych zgodą Użytkownika.
                            </li>
                            <li>Właściciel zapewnia bezpieczeństwo danych osobowych Użytkowników, gdyż stosuje środki
                                ochrony fizycznej, organizacyjnej oraz sprzętowej niezbędne do zapewnienia
                                bezpieczeństwa przetwarzanych danych osobowych w ramach Serwisu.
                            </li>
                            <li>Właściciel spełnia wszelkie wymogi ustawy z dnia 29 sierpnia 1997 r. o ochronie danych
                                osobowych, w tym zarejestrował wszystkie zbiory wymagające takiej rejestracji w Biurze
                                Generalnego Inspektora Ochrony Danych Osobowych.
                            </li>
                            <li>Właściciel jest uprawniony do ujawnienia danych osobowych przez siebie administrowanych
                                jedynie podmiotom uprawnionym na podstawie obowiązujących przepisów prawa (np. sąd,
                                policja), w przypadkach określonych w Regulaminie oraz wynikających z obowiązującego
                                stanu prawnego.
                            </li>
                            <li>W przypadku korzystania z Serwisu w sposób niezgodny z niniejszym Regulaminem lub
                                obowiązującymi przepisami prawa, Właściciel ma prawo do wykorzystania danych Użytkownika
                                w zakresie niezbędnym do ustalenia jego odpowiedzialności. W takim przypadku Właściciel
                                powiadomi Użytkownika o niedozwolonych działaniach z żądaniem ich niezwłocznego
                                zaprzestania.
                            </li>
                            <li>Właściciel informuje, że w trakcie korzystania z Usług oferowanych przez Serwis zbierane
                                są i wykorzystywane dane zawarte w plikach logów. Informacje z plików logów Użytkowników
                                zawierają: numer IP, nazwę sieciową komputera (host), dostawcę Internetu (na przykład TP
                                SA, czy Dialog), informacje o przeglądarce (na przykład Internet Explorer lub Mozilla
                                Firefox), czas spędzony na stronie Serwisu oraz informacje o stronach, które są
                                otwierane. Właściciel zastrzega sobie możliwość udostępniania danych, o których tu mowa,
                                do podmiotów uprawnionych na podstawie przepisów szczególnych (np. organom ścigania)
                            </li>
                            <li>Właściciel informuje, że każdy plik umieszczony w Serwisie zapisywany jest z dodatkowymi
                                informacjami - loginem Użytkownika, datą jego wrzucenia oraz numerem IP komputera z
                                którego został wrzucony.
                            </li>
                            <li>Serwis wykorzystuje cookies, czyli małe pliki tekstowe wysyłane do komputera
                                Użytkownika, w których znajdują się informacje niezbędne do prawidłowego funkcjonowania
                                Serwisu, w szczególności procesu autoryzacji. Za pomocą plików cookies nie są
                                przetwarzane lub przechowywane dane osobowe.
                            </li>
                            <li>Pliki cookies wykorzystywane są do uproszczenia lub umorzenia danej operacji w tym
                                między innymi do zapamiętywania danych niezbędnych do logowania Użytkownika, lepszego
                                dopasowania Serwisu do potrzeb Użytkownika, tworzenia statystyk oglądalności. Warunkiem
                                działania cookies jest ich akceptacja przez przeglądarkę oraz ich nieusuwanie.
                            </li>
                            <li>W Serwisie wyświetlane są pochodzące z zewnętrznych serwisów reklamy. Niektórzy z tych
                                reklamodawców (np. Google poprzez program Google AdSense) mogą używać takich technologii
                                jak pliki cookie, czy sygnalizatory WWW, co w momencie wyświetlania ich reklam na
                                stronach Serwisu spowoduje przesłanie reklamodawcom informacji zawierających adres IP
                                Użytkownika, dostawcę Internetu, typ przeglądarki, z której korzysta i w niektórych
                                przypadkach informację o zainstalowaniu dodatku Flash. Na ogół jest to używane do
                                wyświetlania Użytkownikom reklam z ich okolicy (na przykład reklamy sklepów w Warszawie
                                serwowane Użytkownikowi ze stolicy) lub dobierania reklam na podstawie stron, które
                                Użytkownicy odwiedzili wcześniej (np. pokazywanie reklam firm spożywczych Użytkownikowi,
                                który często odwiedza strony kucharskie).
                            </li>
                            <li>Ponadto Serwis może wykorzystywać pliki cookie DART, dla celów wyświetlania reklam przez
                                system Google DoubleClick, który tworzy plik ciasteczka, kiedy Użytkownik odwiedza
                                strony internetowe, używające systemu reklamowego DoubleClick (włączając w to niektóre
                                reklamy Google AdSense). Ten plik cookie jest używany do prezentowania reklam
                                dopasowanych do zainteresowań Użytkownika (”interest based targeting”). Reklamy
                                dobierane będą na podstawie historii stron, które odwiedził Użytkownik (na przykład,
                                jeśli przeglądane były strony o krakowskich zabytkach, wyświetlone zostaną reklamy o
                                hotelach w Krakowie). System DART wykorzystuje “informacje niepozwalające na
                                identyfikację użytkownika”. Istnieje w każdej chwili możliwość wyłączenia tego systemu
                                za pośrednictwem tej strony.
                            </li>
                            <li>Użytkownik może dezaktywować lub całkowicie wyłączyć pliki cookies na stronach Serwisu
                                lub stronach reklamodawców Serwisu w opcjach przeglądarki internetowej lub wybierając
                                odpowiednią opcję w programach typu firewall (np. Norton Internet Security). Wyłączenie
                                plików cookie może jednak spowodować niemożliwość pełnego wykorzystania opcji Serwisu.
                                Nie będzie można między innymi tworzyć i logować się do własnego Konta.
                            </li>
                            <li>Właściciel informuje, że ruch na stronach Serwisu jest monitorowany przez statystyki
                                Google Analytics. Ma to na celu gromadzenie danych o sposobie i popularności korzystania
                                ze stron Serwisu. Korzystając ze stron Serwisu Użytkownik zgadza się na analizowanie
                                jego danych przez Google Analytics w opisanych w tym punkcie celu.
                            </li>
                            <li>Pole wyszukiwania w Serwisie („Szukaj”) zostało opracowane przez firmę Google Inc
                                („Google”). Użytkownik przyjmuje do wiadomości i potwierdza, że polityka prywatności
                                firmy Google (dostępna pod adresem <a href="http://www.google.pl/privacy.html"
                                                                      target="_blank">http://www.google.pl/privacy.
                                    <wbr>
                                    html</a>) będzie stosowana podczas korzystania z opcji „Szukaj”, a korzystając z tej
                                opcji Użytkownik wyraża zgodę na używanie przez firmę Google jego danych osobowych
                                zgodnie z polityką prywatności Google.
                            </li>
                        </ol>
                        <li><b>Przepisy końcowe.</b></li>
                        <ol>
                            <li>Niniejszy Regulamin obowiązuje od dnia 07.01.2014 r.</li>
                            <li>Regulamin jest dostępny dla Użytkowników pod adresem internetowym <a
                                        href="http://wioslo.pl/regulamin" target="_blank">wioslo.pl/regulamin</a></li>
                            <li>Właściciel ma prawo do jednostronnej zmiany postanowień niniejszego Regulaminu bez
                                podania przyczyny i w każdej chwili. Zmiany wchodzą w życie z chwilą umieszczenia
                                zmienionego tekstu Regulaminu pod adresem <a href="http://wioslo.pl//regulamin"
                                                                             target="_blank">wioslo.pl//regulamin</a>
                            </li>
                            <li>Prawem właściwym jest prawo polskie.</li>
                        </ol>
                    </ol>
                </div>
            </article>
        </div>
    </div>

{% endblock %}
